@import "tailwindcss";

:root {
  background-color: #020617;
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #020617;
  color: #ffffff;
  font-family: 'Inter', system-ui, sans-serif;
  overflow-x: hidden;
}

/* Custom selection color */
::selection {
  background: #4ade80;
  color: #000;
}